<h1 [innerText]='item.CName'></h1>
<table>
    <tr>
        <td>CName</td>
        <td><input type="text" [value]="item.CName"></td>
    </tr>
    <tr>
        <td>City</td>
        <td><input type="text" [value]="item.City"></td>
    </tr>
    <tr>
        <td>Name</td>
        <td><input type="text" [value]="item.Email"></td>
    </tr>
    <tr>
        <td>Mobile</td>
        <td><input type="number" [value]="item.Mobile"></td>
    </tr>
    <tr>
        <td>Address</td>
        <td><input type="text" [value]="item.Address"></td>
    </tr>
</table>
<a [href]='url'>Google</a>